/* _content/DailyCheckIn/Views/Account/Login.cshtml.rz.scp.css */
.border-radise-50[b-gip88mxawk] {
    border-radius: 50px;
}
.selected[b-gip88mxawk] {
    background-color: #2C3E50;
    color: #2C3E50;
}
/* _content/DailyCheckIn/Views/Account/Register.cshtml.rz.scp.css */
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
/* _content/DailyCheckIn/Views/Home/Index.cshtml.rz.scp.css */
@keyframes openYourHeart-b-zuter1xs55 {
    from {
        height: 0;
    }

    to {
        height: 200px;
    }
}

.checkContainer[b-zuter1xs55] {
    width: 400px;
}

.animate-scan[b-zuter1xs55] {
    animation: openYourHeart-b-zuter1xs55 5s forwards;
}

.arrow-icon-hover[b-zuter1xs55] {
    transition: color 0.3s ease;
    cursor: pointer;
}

    .arrow-icon-hover:hover[b-zuter1xs55] {
        color: blue; /* hover color */
        fill: blue;
    }
    .arrow-icon-hover:active[b-zuter1xs55] {
        color: black; /* hover color */
        fill: black;
    }
.date-container[b-zuter1xs55] {
    border: inset 1px black;
    width: 400px;
}
/* _content/DailyCheckIn/Views/Salary/Index.cshtml.rz.scp.css */

.date-container[b-k4hgswi7jt] {
    border: inset 1px black;
}

.animate-scan[b-k4hgswi7jt] {
    animation: openYourHeart 5s forwards;
}

.arrow-icon-hover[b-k4hgswi7jt] {
    transition: color 0.3s ease;
    cursor: pointer;
}

    .arrow-icon-hover:hover[b-k4hgswi7jt] {
        color: blue; /* hover color */
        fill: blue;
    }

    .arrow-icon-hover:active[b-k4hgswi7jt] {
        color: black; /* hover color */
        fill: black;
    }

.margin-bottom[b-k4hgswi7jt] {
    margin: 0 0.25rem 60px 0.25rem;
}

@media (max-width: 576px) { /* Bootstrap's sm breakpoint */
    #exampleModal .modal-dialog[b-k4hgswi7jt] {
        max-width: 80%; /* or any percentage you like */
        margin: auto;
    }
}
/* _content/DailyCheckIn/Views/Salary/_DayReportSalaryPartial.cshtml.rz.scp.css */
.dayContainer[b-ohrx64tscd] {
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    width: 100%;
    height: 80px;
    border: inset 2px;
}
    .dayContainer > *[b-ohrx64tscd] {
        margin-top: 0;
        margin-bottom: 0;
        height: 20px;
    }

.bg-red-300[b-ohrx64tscd] {
    background-color: #ea868f;
    border: inset 3px;
}

.top-left[b-ohrx64tscd] {
    position: absolute;
    top: 5px;
    right: 10px;
}

.bottom-left[b-ohrx64tscd] {
    position: absolute;
    bottom: 5px;
    right: 10px;
    text-decoration:underline;
    color:blue;
}

.info-button[b-ohrx64tscd] {
    display: inline-flex;
    justify-content: center; /* horizontal center */
    align-items: center;
    height: 26px;
    padding: 3px;
    border-radius: 50%
}
/* _content/DailyCheckIn/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-bacljk3tuy] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-bacljk3tuy] {
  color: #0077cc;
}

.btn-primary[b-bacljk3tuy] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-bacljk3tuy], .nav-pills .show > .nav-link[b-bacljk3tuy] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-bacljk3tuy] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-bacljk3tuy] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-bacljk3tuy] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-bacljk3tuy] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-bacljk3tuy] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
