
<div class="dayContainer">
    <div class="d-flex flex-row justify-content-around">
        <div class="d-flex flex-row gap-1">
            <p>Hours worked:</p>
            <p>00:00</p>
        </div>
        <div class="d-flex flex-row gap-1">
            <p>Hours worked:</p>
            <p>00:00</p>
        </div>
    </div>
    <div class="class= d-flex flex-row gap-1 align-self-center">
        <p>Money Earned: </p>
        <p>00.00</p>
    </div>
</div>