
.date-container {
    border: inset 1px black;
}

.animate-scan {
    animation: openYourHeart 5s forwards;
}

.arrow-icon-hover {
    transition: color 0.3s ease;
    cursor: pointer;
}

    .arrow-icon-hover:hover {
        color: blue; /* hover color */
        fill: blue;
    }

    .arrow-icon-hover:active {
        color: black; /* hover color */
        fill: black;
    }

.margin-bottom {
    margin: 0 0.25rem 60px 0.25rem;
}

@media (max-width: 576px) { /* Bootstrap's sm breakpoint */
    #exampleModal .modal-dialog {
        max-width: 80%; /* or any percentage you like */
        margin: auto;
    }
}