<div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Login to your account</h1>
    <div class="bg-light d-flex flex-row border-radise-50 col-3 mx-auto">
        <buttom id="LoginButton" class="btn selected border-radise-50 bg-secondary-subtle col-6">Login</buttom>
        <buttom id="SignInButton" class="btn bg-light border-radise-50 bg-secondary-subtle col-6">Sign in</buttom>
    </div>
    <form class="d-flex flex-column justify-content-lg-start align-content-center col-3" action="Login" method="post">
        <label for="username">User name</label>
        <input name="username" type="text" placeholder="User Name" class="border-radise-50" required />
        <label for="password">Password</label>
        <input name="password" type="password" placeholder="password" class="border-radise-50" required />
        <button type="submit">Login</button>
    </form>
    <p>or sign in with</p>

    <div class="d-flex flex-row border-radise-50 col-3 mx-auto">
        <buttom id="LoginButton" class="btn selected m-2 border-radise-50 bg-secondary-subtle col-6">Google</buttom>
        <buttom id="SignInButton" class="btn bg-light m-2 border-radise-50 bg-secondary-subtle col-6">Facebook</buttom>
    </div>

</div>

<script>

</script>