<h1>Register your account</h1>
<form action="Register" method="post">
    <section>
        <h2>Account Information</h2>
        <label for="username">User name</label>
        <input name="username" type="text" required />
        <label for="arabicName">Arabic Name</label>
        <input name="arabicName" type="text"required />
        <label for="email">Email</label>
        <input name="email" type="email"required />
        <label for="password"></label>
        <input name="password" type="password" placeholder="password" required />
        <label for="confirmpassword"></label>
        <input name="confirmpassword" type="password" placeholder="password" required />
    </section>
    <sectiom>
        <h2>Payment information</h2>
        <label for="hourlyRate">Hourly rate</label>
        <input name="hourlyRate" type="number" required />
        <label for="bonus">Bonus</label>
        <input name="bonus" type="number" required />
        <label for="startDate">Start date</label>
        <input name="StartDate" type="date" required />
    </sectiom>
    <button type="submet">Login</button>
</form>